@import '../../../../../../../../utils/colors'

.file-placeholder-atomic-block
  .with-pdf-preview
    max-width: 650px
    padding: 10px
    background-color: rgba($black-color, .02)
    border: 1px solid rgba($black-color, .1)
    border-radius: 7px
    cursor: default
    .with-pdf-preview-description
      color: rgba($black-color, .2)
      font-size: 15px
      font-weight: 500
      text-align: center
      line-height: 1
      margin-bottom: 24px
      border-top: 1px solid rgba($black-color, .05)
      margin-top: 10px
      padding-top: 30px
    .file-placeholder-delete
      top: -20px
      right: -20px
