@import '../../../../utils/colors'

.file-placeholder-download-button
  .svg-icon
    margin: 0
    max-width: 17px !important // @stylint ignore
    height: auto
    vertical-align: top
  .download-blue
    display: none
  &:hover
    .download
      display: none
    .download-blue
      display: inline-block
