@import '../../../../../../../../utils/colors'

.download-card
  max-width: 650px
  height: 65px
  padding: 12px 24px
  background-color: $white-color
  border: 1px solid rgba($black-color, .1)
  border-radius: 5px
  .file-icon
    float: left
    width: 24px
    margin-right: 24px
    margin-top: 4px
    img
      max-width: 100%
      height: auto
  .file-name
    line-height: 1.4
    color: rgba($black-color, .6)
    font-size: 14px
    font-weight: 500
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
  .text
    line-height: 1.4
    font-size: 13px
    font-weight: 400
    color: rgba($black-color, .3)
    margin-top: 2px
    white-space: nowrap
    text-overflow: ellipsis
    overflow: hidden
