@import '../../../../utils/colors'

.file-placeholder
  .file-placeholder-remove
    text-align: center
    position: absolute
    width: 20px
    height: 20px
    top: -10px
    right: -10px
    padding-top: 6px
    background-color: $black-color
    border-radius: 50%
    color: $white-color
    cursor: pointer
    z-index: 2
    opacity: .7
    &:hover
      opacity: 1
    .svg-icon
      max-width: 8px
      max-height: 8px
      margin: 0
      vertical-align: top
