// Color palette
$white-color = #FFFFFF
$black-color = #000000
$yellow-color = #faa541
$red-color = #d92323
$blue-color = #00aeef
$danger-color = rgba(#e43939, .8)

// Form
$foreground-form-label-color = rgba($black-color, 0.8)
$foreground-form-input-color = rgba($black-color, 0.8)
$foreground-form-input-border-color = #e5e5e5

// Sidebar
$foreground-sidebar-color = $white-color
$foreground-sidebar-disable-color = rgba($white-color, 0.3)
$foreground-sidebar-active-color = #00A651
$foreground-dropdown-color = rgba(#363636, 0.8)
$foreground-dropdown-disable-color = rgba(#363636, 0.5)
$background-sidebar-color = #3a3a3a
$background-sidebar-header-color = #2b2b2b
$background-sidebar-active-color = rgba($white-color, 0.1)
$background-sidebar-badge-color = #e63351

// List
$foreground-list-color = rgba($black-color, 0.5)
$foreground-list-header-color = rgba($black-color, 0.8)
$foreground-list-header-disable-color = rgba($black-color, 0.1)
$foreground-list-divider-color = rgba($black-color, 0.15)
$foreground-list-border-color = rgba($black-color, 0.05)
$foreground-list-search-bar-border-color = rgba($black-color, 0.1)
$background-list-selected-color = #f2f2f2
$background-list-hover-color = #fcfcfc
$background-list-new-topic-color = rgba($white-color, 0.9)
$background-list-empty-color = rgba($black-color, 0.02)

// List Cell
$foreground-list-cell-color = rgba(#262626, 0.8)
$foreground-list-cell-read-color = rgba(#262626, 0.5)
$foreground-list-cell-meta-color = rgba(#262626, 0.5)

// Topic
$foreground-topic-color = #555
$foreground-topic-heading-color = rgba($black-color, 0.8)
$foreground-topic-author-color = rgba(#262626, 0.8)
$foreground-topic-quote-color = rgba(#262626, 0.5)
$foreground-topic-border-color = rgba($black-color, 0.05)
$foreground-topic-reference-title-color = rgba($black-color, 0.4)
$foreground-topic-blockquote-bar-color = rgba($black-color, 0.3)

// Topic Editor
$foreground-topic-editor-color = rgba($black-color, 0.8)
$foreground-topic-editor-border-color = rgba($black-color, 0.05)
$foreground-topic-editor-cancel-color = rgba($black-color, 0.5)
$foreground-topic-editor-cancel-border-color = rgba($black-color, 0.2)
$foreground-topic-editor-toolbar-color = rgba($black-color, 0.5)
$foreground-topic-editor-draft-border-color = rgba($blue-color, 0.5)
$background-topic-editor-toolbar-color = rgba($black-color, 0.02)
$foreground-topic-editor-footer-border-color = rgba($black-color, 0.1)
$foreground-topic-editor-modal-header = #333
$foreground-topic-editor-toolbar-sep = rgba($black-color, 0.08)
$foreground-topic-editor-toolbar-dropdown-shadow = rgba($black-color, 0.3)
$foreground-topic-editor-placeholder-color = rgba($black-color, 0.3)

// Message
$foreground-message-title-color = rgba($black-color, 0.5)
$foreground-message-author-color = rgba($black-color, 0.8)
$foreground-message-timestamp-color = rgba($black-color, 0.4)
$foreground-message-body-color = #585858
$foreground-message-border-color = rgba($black-color, 0.1)
$foreground-message-input-border-color = rgba($black-color, 0.1)
$foreground-message-input-button-color = rgba($black-color, 0.3)
$foreground-message-input-text-color = rgba(#262626, 0.6)
$background-message-badge-color = rgba($black-color, 0.3)
$background-message-input = rgba($white-color, 0.95)
$background-message-hover-color = rgba($black-color, 0.02)

// Setting
$foreground-setting-menu-color = #b2b2b2
$foreground-setting-title-color = rgba($black-color, 0.8)
$foreground-setting-border-color = rgba($black-color, 0.1)
